<!DOCTYPE html>
<html lang="et">
<head>
	<meta charset="utf-8">
	<title>Triinu Klein</title>
</head>
<body>
	<img src="/banner/vp_banner_2024.png" alt="Veebiprogrammeerimise 2024 aasta kursuse bänner" >
	<h1>Triinu Klein</h1>
	<p>See leht on loodud õppetöö raames <a href="https://www.tlu.ee" target="_blank">Tallinna ülikoolis</a> ja ei sisalda tõsiseltvõetavat sisu.</p>
	<h3>Sisse loginud: <%= firstName %> <%= lastName %>!</h3>
	<hr>
	<ul>
	<li><a href="/home">Avaleht</a></li>
	<li><a href="/eestifilm">Eesti filmi avaleht</a></li>
	</ul>
	<h2>Lisa seoseid</h2>
	<form method="POST">
    <label for="personSelect">Filmitegelane</label>
	<br>
	<select id="personSelect" name="personSelect">
		<option selected disabled>Vali tegelane</option>
		<% personList.forEach(function(person) { %>
			<option value="<%= person.id %>"><%= person.first_name %> <%= person.last_name %>, sünd. <%= person.birth_date %></option>
		<% }); %>
	</select>
    <br>
	<label for="movieSelect">Film</label>
	<br>
	<select id="movieSelect" name="movieSelect">
		<option selected disabled>Vali film</option>
		<% movieList.forEach(function(movie) { %>
			<option value="<%= movie.id %>"><%= movie.title %>, toodetud: <%= movie.production_year %></option>
		<% }); %>
	</select>
	<br>
	<label for="positionSelect">Roll/amet</label>
	<br>
	<select id="positionSelect" name="positionSelect">
		<option selected disabled>Vali roll/amet</option>
		<% positionList.forEach(function(position) { %>
			<option value="<%= position.id %>"><%= position.position_name %></option>
		<% }); %>
	</select>
		<label for="roleInput">Roll/tegelaskuju (kui on näitleja)</label>
		<input type="text" id="roleInput" name="roleInput" placeholder="Tegelaskuju ...">
	<br>
	<input type="submit" id="relationSubmit" name="relationSubmit" value="Salvesta">
  </form>
</body>
</html>